

.test {
    padding: 0;
}

.checkout_page {
    background-color: black;
}

.checkout-form-heading {
    font-family: Arial;
    font-size: 17px;
    padding: 8px;
  }
  
  .checkout-form-description {
    font-family: Arial;
    font-size: 17px;
    padding: 8px;
  }
  
  * {
    box-sizing: border-box;
  }
  
  .checkout-form-row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -16px;
    padding: 30px;
  }
  
  .checkout-form-col-25 {
    flex: 40%;
    padding: 0px 16px;
  }
  
  .checkout-form-col-50 {
    flex: 50%;
    padding: 0 16px;
  }
  
  .checkout-form-col-75 {
    flex: 60%;
    padding: 0 16px;
  }
  
  .checkout-form-container {
    background-color: #f2f2f2;
    padding: 15px 20px 15px 20px;
    border: 1px solid lightgrey;
    border-radius: 3px;
  }
  
  .checkout-form-input {
    width: 100%;
    margin-bottom: 20px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  .checkout-form-label {
    margin-bottom: 10px;
    display: block;
  }
  
  .checkout-form-icon-container {
    margin-bottom: 20px;
    padding: 7px 0;
    font-size: 24px;
  }
  
  .checkout-form-btn {
    background-color: #04AA6D;
    color: white;
    padding: 12px;
    margin: 10px 0;
    border: none;
    width: 100%;
    border-radius: 3px;
    cursor: pointer;
    font-size: 17px;
  }
  
  .checkout-form-btn:hover {
    background-color: #45a049;
  }
  
  .checkout-form-cart-title {
    font-size: 18px;
  }
  
  .checkout-form-cart-item {
    text-decoration: none;
    color: black;
  }
  
  .checkout-form-price {
    float: right;
    color: grey;
  }
  
  .checkout-form-checkbox-label {
    margin-bottom: 10px;
    display: block;
  }
  
  .checkout-form-divider {
    border: 1px solid lightgrey;
  }
  
  @media (max-width: 800px) {
    .checkout-form-row {
      flex-direction: column-reverse;
    }
    .checkout-form-col-25 {
      margin-bottom: 20px;
    }
  }
  
  .checkout-form-state {
    display: flex;
  }
  .checkout-form-row-state {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -16px;
  }

  .cart_img2 {
    width: 35%;
  }

  .price_con2 {
    padding-left: 10px;
    padding-right: 60px;
  }

  .item_details2 {
    padding-left: 10px;
    padding-right: 20px;
  }

  .trash2{
    padding-top: 16px;
    padding-right: 5px;
    padding-left: 0px;
  }