

.back_con {
    padding-top: 0rem;
  }

  .main-image-container {
    margin: 20px 0;
    text-align: center;
  }
  
  .main-image {
    width: 300px; /* Adjust as needed */
    border: 3px solid #a787ff;
    border-radius: 10px;
    background-color: #f4f4f4;
  }
  
  .thumbnail-container {
    display: flex;
    justify-content: center;
    gap: 10px;
  }
  
  .thumbnail {
    width: 80px; /* Thumbnail size */
    height: auto;
    cursor: pointer;
    border: 2px solid transparent;
    transition: transform 0.2s, border 0.2s;
  }
  
  .thumbnail:hover {
    transform: scale(1.1);
    border: 2px solid #a787ff;
  }
  