@font-face {
    font-family: 'Antonio-Light';
    src: url('../fonts/Antonio-Light.ttf') format('truetype');
    font-style: normal;
}

.shape {
    border: none;
}

.tour_map_con {
    font-family: 'Antonio-Light';
}

.tour_map_con {
    font-size: 20px;
}

.tour_map, .image-display-container {
    margin-top: 10rem;
}
.tour_map_con {
    display: flex;
    flex-direction: row;
    height:auto;
    background-color: black;
}

/*.sections {
    height: 10rem; 
    display: flex;
    /*flex-direction: column;
    align-items: center;
    justify-content: start;
    border: 1px solid #e60f0f;
    box-sizing: border-box;
  }
  
.tour img :not(.tour_layout){
    height: 10rem;
    width: 10rem;
    border: 1px solid green;
}*/




.seat_details {
    color: white;
}

.tour_map_con {
    display: flex;
}

.tour_left {
    width: 57vw;
}

.selected_text {
    color: white;
}

.tour_right {
    width: 40vw;
    justify-content: center;
}

.seat_select {
    top: 2rem;
    justify-content: center;
    border:1px solid red;
}

.seat_select img{
    height: 15.5rem;
    width: auto;
    margin-left: -0.25rem;
    margin-top: -0.4rem;
    border:1px solid yellow;
}
.selected_seat_main {
    justify-content: center;
    display: flex;
    font-size: 2rem;
}

.seat_sub {
    width: 100%;
    display: grid;
    gap: 2rem;
    grid-template-columns: 33% 33% 33%;
    padding: 0 6rem;
    font-size: 1.5rem;
}

.seat_sub div p{
    justify-self: center;
}
.seat_sub div p strong{
    color: #ffffff;
    font-size: 2.5rem;
    text-shadow:
    0 0 2px #f6f2e9,
    0 0 1px #f0ddb4,
    0 0 0px #f5daa7,
    0 0 4px #f8c66a;
}

.back_tourmain {
	color: white;
    background: none;
    margin-left: 5rem;
	border: none;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.back_tourmain:hover {
	color: rgb(255, 239, 159);
    background: none;
    transition: 0.3s ease-in-out;
    margin-left: 5rem;
	border: none;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.add_cart_con {
    justify-content: center;
    display: flex;
}
.checkout_but {
    margin-top: 0rem;
    box-shadow: none;
    color: black;
    background: none;
    margin-top: 0rem;
    height: 3rem;
    width: 15rem;
    border-radius: 10px;
    background-color: rgb(255, 239, 159);
    border: none;
    font: inherit;
    cursor: pointer;
    outline: inherit;
  }

  .checkout_but:hover {
    background-color: rgb(255, 193, 159);
    transition: 0.3s ease-in-out;

  }



  .seat_sub {
    padding-bottom: 0rem;
  }

  .select_sec_text {
    color: white;
  }

  .select_text_con {
    display: flex;
    justify-content: center;
    font-size: larger;
  }



.tour_page {
    background-color: black;
    padding-top: 8rem;
    font-family: 'Antonio';

}


.tour_details {
    display: flex;
    justify-content: space-between; /* Space out the two elements */
    align-items: center;            /* Center vertically */
    border: 1px solid green;
}

.tour_name_con {
    flex-grow: 1;                   /* Take up remaining space */
    display: flex;
    flex-direction: column;
    color: white;
    border: 1px solid red;
    text-align: center;
    font-size: larger;
    justify-content: center;        /* Center content vertically */
    align-items: center;            /* Center content horizontally */
}

.venue_con {
    margin-right: auto;             /* Keep it to the left */
}

.amer_air {
    height: 15rem;
}
