/* Navbar.css */
* {
    position: -webkit-sticky;
}
.navbar_container {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1rem;
    width: 100%;
    
}
@font-face {
  font-family: 'Race Sport';
  src: url('../fonts/Thuast-Demo.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
.navbar {
    position: fixed;
    font-family:'Antonio';
    letter-spacing: 2px;
    top: 0;
    width: 100%;
    background-color: rgb(27, 27, 27);
    padding: 8px 0;
    display: flex;
    justify-content: center;
    z-index: 1000;
    height: 4.5rem;
    line-height: 0;
  }
  
  .navbar-items {
    list-style: none;
    display: flex;          /* Flex layout for horizontal alignment */
    flex-direction: row;    /* Ensures horizontal direction */
    gap: 10rem;
    align-items: center;
    margin: 0;
    padding: 0;
  }

  .navbar-items h3 {
    font-size: 1.6rem; /* Adjust size */
    font-family: 'Antonio', sans-serif; /* Match your fonts */

    color: white;


    line-height: 0.7;

    font-weight: 900;
  }

  .navbar-items h3:hover {
    transition: 0.3s ease-in-out;

    text-shadow:
        0 0 0px #de9e2a,
        0 0 0px #de9e2a,
        0 0 0px #de9e2a,
        0 0 8px #de9e2a,
        0 0 0px #de9e2a,
        0 0 0px #f5cb7f,
        0 0 8px #f5cb7f,
        0 0 0px #f5cb7f;

  }
  
  .item, .item1 {
    color: white;
    cursor: pointer;
    text-decoration: none; /* Removes underline */
  }


  
  .logo {
    height: 50px;           /* Set height for the logo image */
    width: auto;
  }
  